@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: linear-gradient(to bottom, #1a253f, #304571);
  color: $primary-color;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.btn {
  transition: background 0.3s ease-in-out;

  &:hover {
    background: rgba(235, 255, 0, 0.6);
  }
}

a {
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #ebff00;
  }
}

