.footer {
  background: #222;
  text-align: center;
  max-height: 127px;

  p {
    font-size: 18px;
    color: #ebff00;
  }
}

.adventure {
padding-bottom: 19px;
}

.rocket {
  height: 78px;
  transform: rotate(64.48deg);
  transition: transform 0.3s ease; 
}
